body {
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 24px;
}

.controls {
    -webkit-transition: width 0.25s ease-in-out;
    -moz-transition: width 0.25s ease-in-out;
    -o-transition: width 0.25s ease-in-out;
    transition: width 0.25s ease-in-out;

    position: fixed;
    bottom: 20px;
    width: 128px;
    text-align: center;
    background-color: slategray;
    left: 50%;
    transform: translate(-50%, 0);
    border-radius: 70px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.controls.open {
    -webkit-transition: width 0.25s ease-in-out;
    -moz-transition: width 0.25s ease-in-out;
    -o-transition: width 0.25s ease-in-out;
    transition: width 0.25s ease-in-out;

    width: 800px;
}

.controls img {
    cursor: pointer;
}

.controls button {
    border: 0;
    background: transparent;
}

.hidden {
    display: none;
}

.content {
    margin: 25px auto;
    padding: 0px;
    background-color: black;
    height: 100%;
    width: 800px;
}

.title {
    border: 1px solid white;
    color: white;
    border-radius: 10px;
    background-color: slategray;
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.draggable {
    border: 1px dotted white;
    color: white;
    border-radius: 10px;
    width: 100%;
    height: 200px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: hand;
}

.icon {
    cursor: move;
    margin-right: 25px;
    width: 96px;
    height: 96px;
}

.icon-title {
    margin: 0 12px;
    width: 75px;
    height: 75px;
    cursor: pointer;
}

.date-title {
    font-size: 24px;
    width: 100%;
    text-align: right;
}

.text-title {
    font-size: 32px;
    text-overflow: ellipsis;
    overflow: hidden;
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.container {
    width: 630px;
    height: 90%;
}

.title-container {
    display: flex;
    flex-direction: column;
}

.text-container {
    text-overflow: ellipsis;
    white-space: pre-line;
    overflow: hidden;
}

.gallery-container {
    display: inline-flex;
    gap: 12px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.gallery-container img {
    height: 150px
}

#trip-screen {
    position: relative;
}

#trip-menu {
    width:300px;
    height: 256px;
    position: absolute;
    top:30px;
    right: 17px;
    border: 1px solid white;
    color: white;
    border-radius: 10px;
    background-color: slategray;
    z-index: 10;
}

#overlay {
    width:100%;
    height: 100%;
    position: absolute;
    top:0;
    left: 0;
}

.menu-item {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    cursor: pointer;
}

.menu-item img {
    margin-right: 25px;
}

.menu-item:hover {
    background-color: darkgray;
}

/****************** HOME ****************************/


.home-controls {
    position: fixed;
    bottom: 20px;
    width: 128px;
    left: 50%;
    transform: translate(-50%, 0);
    border-radius: 70px;
}

.home-controls img {
    cursor: pointer;
}

.home .title-container {
    align-items: center;
    justify-content: center;
}

.home .draggable {
    height: 100px;
    cursor: pointer;
}

.home .draggable .icon {
    width: 75px;
    height: 75px;
}

.home .text-container {
    display: flex;
    flex-direction: column;
}

/****************** SECTION ****************************/

.section {
    color: white;
}

.section .title {
    margin-bottom: 20px;
}

.section .form-line {
    margin-bottom: 20px;
}

.section input {
    width: 100%;
    font-size: 48px;
}