#trotamundos-preview {
    width: 1000px;
    text-align: center;
    height: 100%;
    background-color: white;
    font-family: Tahoma,Verdana,Segoe,sans-serif;
}

.preview-blog-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 165px;
    font-size: 35px;
    font-weight: bold;
    color: #333;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.preview-post-title-container {
    font-size: 90px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-weight: bold;
    margin: 20px 0;
    padding: 0 60px;
}

.preview-post-title-container .date {
    color: grey;
    font-size: 36px;
}

#preview-sections-container{
    text-align: justify;
    margin: 0 25px;
    font-size: 42px;
    font-family: Helvetica, Geneva, sans-serif;
}

.preview-image, .preview-text {
    margin: 50px 0;
}

.preview-image {
    text-align: center;
}

.preview-image img {
    width: 100%;
}

.preview-image img.portrait {
    width: 50%;
}

.preview-subtitle h2 {
    font-size: 60px;
    text-transform: uppercase;
    font-size: bold;
}

#preview-controls {
    position: fixed;
    top: 50px;
    left: 5%;
    display: flex;
    justify-content: space-between;
    width: 90%;
}

#preview-controls img {
    width: 96px;
    height: 96px;
}


