#preview-controls {
    position: fixed;
    top: 50px;
    left: 5%;
    display: flex;
    justify-content: space-between;
    width: 90%;
}

#preview-controls img {
    width: 96px;
    height: 96px;
}


