html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 24px;
}

a {
    color: white;
    text-decoration: none;
    /* no underline */
}

a:visited {
    color: white;
}

.controls {
    -webkit-transition: width 0.25s ease-in-out;
    -moz-transition: width 0.25s ease-in-out;
    -o-transition: width 0.25s ease-in-out;
    transition: width 0.25s ease-in-out;

    position: fixed;
    bottom: 20px;
    width: 128px;
    text-align: center;
    background-color: slategray;
    left: 50%;
    transform: translate(-50%, 0);
    border-radius: 70px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.controls.open {
    -webkit-transition: width 0.25s ease-in-out;
    -moz-transition: width 0.25s ease-in-out;
    -o-transition: width 0.25s ease-in-out;
    transition: width 0.25s ease-in-out;

    width: 800px;
}

.controls img {
    cursor: pointer;
}

.hidden {
    display: none;
}

.content {
    margin: 25px auto;
    padding: 0px;
    background-color: black;
    height: 100%;
    width: 800px;
}

.title {
    border: 1px solid white;
    color: white;
    border-radius: 10px;
    background-color: slategray;
    width: 100%;
    height: 140px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.draggable {
    border: 1px dotted white;
    color: white;
    border-radius: 10px;
    width: 100%;
    height: 200px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.icon {
    cursor: move;
    margin-right: 25px;
    width: 96px;
    height: 96px;
}

.icon-title {
    margin: 0 12px;
    width: 75px;
    height: 75px;
    cursor: pointer;
}

.date-title {
    font-size: 24px;
    width: 100%;
    text-align: right;
}

.text-title {
    font-size: 36px;
    text-overflow: ellipsis;
    overflow: hidden;
    flex-grow: 1;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-weight: bold;

}

.container {
    width: 630px;
    height: 90%;
}

.title-container {
    display: flex;
    flex-direction: column;
    margin-left: 25px;
}

.text-container {
    text-overflow: ellipsis;
    white-space: pre-line;
    overflow: hidden;
    max-height: 100%;
    height: auto;
}

.text-container.subtitle {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 40px;
}

.gallery-container {
    display: inline-flex;
    gap: 12px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.gallery-container img {
    height: 150px
}

#trip-title {
    cursor: pointer;
}

#home-screen,
#trip-screen,
#section-screen {
    position: relative;
}

#section-image {
    text-align: center;
    margin-top: 100px;
}

.trip-image {
    display: none;
}

.trip-image-preview {
    width: 100%;
    cursor: pointer;
}

.trip-image-preview-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.trip-image-preview-container label {
    flex: 50%;

}


.menu {
    width: 520px;
    position: absolute;
    top: 110px;
    right: 0;
    border: 1px solid white;
    color: white;
    border-radius: 10px;
    background-color: slategray;
    z-index: 10;
}

#overlay {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#loader {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
}

#loader.hidden {
    display: none;
}

.menu-item {
    display: flex;
    align-items: center;
    margin: 0 25px;
    cursor: pointer;
    font-size: 48px;
    height: 150px;
}

.menu-item img {
    margin-right: 25px;
}

.menu-item:hover {
    background-color: darkgray;
}

/****************** HOME ****************************/


.home-controls {
    position: fixed;
    bottom: 20px;
    width: 128px;
    left: 50%;
    transform: translate(-50%, 0);
    border-radius: 70px;
}

.home-controls img {
    cursor: pointer;
}

.home .title-container {
    align-items: center;
    justify-content: center;
}

.home .draggable {
    height: 160px;
    cursor: pointer;
}

.home .draggable .icon {
    width: 75px;
    height: 75px;
}

.home .text-container {
    display: flex;
    flex-direction: column;
}

/****************** SECTION ****************************/

.section {
    color: white;
}

.section label {
    font-size: 48px;
}

.section .title {
    margin-bottom: 20px;
}

.section .form-line {
    margin-bottom: 20px;
}

.section input {
    width: 100%;
    font-size: 56px;
}

input.subtitle {
    text-transform: uppercase;
    font-weight: bold;
    height: 100px;
}

.section select {
    width: 100%;
    font-size: 48px;
}

textarea {
    width: 100%;
    height: 1500px;
    font-size: 24px;
}

.image-type {
    align-items: center;
    justify-content: space-around;
    margin: 25px 0;
    width: 100%;
    display: flex;

}

.img-type-container {
    width: 100px;
    height: 100px;
    cursor: pointer;
    border: 5px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-type-container.selected {
    border: 5px solid slategrey;
}


.image-type img {
    width: 90%;
    height: 90%;
}